* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --navigation: #fefded;
  --main: white;
  --footer: #f7ee36;
}

.nav-container {
  background-color: var(--navigation);
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4%;
  align-items: center;
  width: 100%;
  height: 85px;
  box-shadow: 1px 1px 4px grey;
}

.nav-container .logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-container .logo img {
  width: 50px;
}

.nav-container .logo p {
  color: #191919;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-container .menu-icon {
  font-size: 1.6rem;
  display: none;
}

.nav-container ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-container ul li a {
  text-decoration: none;
  color: #191919;
  font-weight: 600;
  padding: 4px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

.nav-container ul li a:hover {
  color: var(--footer);
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .nav-container {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    height: 75px;
  }
  .nav-container .menu-icon {
    display: flex;
  }
  .nav-container ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--navigation);
    padding: 30px 0;
  }
  .nav-container ul li:last-of-type {
    padding-bottom: 8px;
  }
  .nav-container ul.hidden {
    display: none;
  }

  .nav-container .logo {
    gap: 7%;
  }
  .nav-container .logo p {
    font-size: 1rem;
  }
  .nav-container .logo img {
    width: 40px;
  }
}

/* main */
main {
  padding-top: 85px;
  background-color: var(--main);
}

@media only screen and (max-width: 768px) {
  main {
    padding-top: 75px;
  }
}

/* main - section 1 */
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 4%;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  /* background-color: aquamarine; */
}

.section-1 .text {
  padding-right: 20px;
}

.section-1 .text h2 {
  font-family: "EB Garamond";
  font-size: 1.8rem;
}

.section-1 img {
  width: 50%;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .section-1 {
    flex-direction: column;
    gap: 1rem;
  }
  .section-1 .text {
    text-align: justify;
    padding-right: 0;
  }
  .section-1 .text p {
    font-size: 2.5vw;
  }
  .section-1 img {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .section-1 .text h2 {
    font-size: 5vw;
  }
  .section-1 .text p {
    font-size: 0.8rem;
  }
}

/* main - section 2 */

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 4%;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  /* background-color: blanchedalmond; */
}

.section-2 .text {
  padding-left: 20px;
}

.section-2 .text h2 {
  font-family: "EB Garamond";
  font-size: 1.8rem;
}

.section-2 img {
  width: 50%;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .section-2 {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .section-2 .text {
        padding-left: 0;
    }
    .section-2 .text p {
        text-align: justify;
        font-size: 2.5vw;
    }
    .section-2 img {
        width: 100%;
    }
}
@media screen and (max-width: 578px) {
    .section-2 .text h2 {
        font-size: 5vw;
    }
    .section-2 .text p {
        font-size: 0.8rem;
    }
}

/* main - section 3 */

.section-3 {
    padding: 30px 4%;
}

.section-3 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "EB Garamond";
    font-size: 1.8rem;
  }

.section-3 .card {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.section-3 .card .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.section-3 .card .person img {
    width: 80%;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .section-3 .card .person p, .section-3 .card .person h3 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 578px) {
    .section-3 h2 {
        font-size: 5vw;;
    }
    .section-3 .card {
        flex-wrap: wrap;    
    }
    .section-3 .card .person {
        width: 50%;
    }
    .section-3 .card .person img {
        width: 80%;
    }
    .section-3 .card .person p, .section-3 .card .person h3 {
        font-size: 0.8rem;
    }
}

/* footer */

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer);
  padding: 10px 4%;
}

footer .icon {
  display: flex;
  gap: 2rem;
}

footer .icon .instagram {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer .icon .instagram a {
  text-decoration: none;
  color: black;
}

footer .icon .maps {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer .icon .maps a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  footer .icon .instagram p,
  footer .icon .maps p {
    display: none;
  }
}
